<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-once指令</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="root">
    <child-one v-if="type==='child-one'">
    </child-one>
    <child-two v-if="type==='child-two'">
    </child-two>
    <button @click="handleBtnClick">change</button>
</div>
<script>
    //v-once只渲染元素和组件一次，随后的渲染，使用了此指令的元素/组件及其所有的子节点，都会当作静态内容并跳过，这可以用于优化更新性能。
    Vue.component('child-one',{
        template:'<div v-once>child-one</div>'
    })
    Vue.component('child-two',{
        template:'<div v-once>child-two</div>'
    })
    var vm=new Vue({
        el:'#root',
        data:{
            type:'child-one'
        },
        methods:{
            handleBtnClick:function () {
                this.type=this.type==='child-one'?'child-two':'child-one';
            }
        }
    })
</script>
</body>
</html>